services:
  redis-db:
    container_name: redis-db
    image: redis/redis-stack
    restart: always
    ports:
      - "6379:6379"
      - "8001:8001"
    environment:
      REDIS_ARGS: --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./dockerDB/redis-data:/data

  mongo-db:
    container_name: mongo-db
    image: mongo:latest
    restart: always
    ports:
      - "27013:27017"
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - ./dockerDB/mongo-data:/data/db
