services:
  redis-db:
    container_name: redis-db
    image: redis/redis-stack
    restart: unless-stopped
    ports:
      - "6379:6379"
      - "8001:8001"
    environment:
      REDIS_ARGS: --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-data:/data

  mongo-db:
    container_name: mongo-db
    image: mongo:latest
    restart: unless-stopped
    ports:
      - "27013:27017"
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db

  ngrok:
    container_name: ngrok-webhook
    image: ngrok/ngrok:latest
    command:
      - "http"
      - "https://aware-wanted-puma.ngrok-free.app:8080"
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}

volumes:
  redis-data:
    driver: local
    labels:
      com.docker.compose.project: sketch-blade
  mongo-data:
    driver: local
    labels:
      com.docker.compose.project: sketch-blade
