@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  :root {
    --side-bar: 320px;
    --dashboard-header: 4rem;

    --radius: 0.5rem;
    --primary: #1b262c;
    --secondary: #0f4c75;
    --tertiary: #3282b8;
    --quaternary: #bbe1fa;
    --dark-secondary: #0f4c75;
    --btn: #1571ae;
    --line: #b8a5a5;

    /* BACKGROUND-COLORS */
    --primary-bg-light: #ffffff;
    --secondary-bg-light: ;

    --primary-bg-dark: #0f172a;
    --secondary-bg-dark: #1e293b;

    /* TEXT-COLORS */
    --primary-text-light: #1e293b;
    --secondary-text-light: #475569;

    --primary-text-dark: #f1f5f9;
    --secondary-text-dark: #cbd5e1;
  }
}

@theme {
  /* custom border radius values */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-blue: #000000;

  /* Custom Background */
  --color-primary-bg-light: var(--primary-bg-light);
  --color-secondary-bg-light: var(--secondary-bg-light);
  --color-primary-bg-dark: var(--primary-bg-dark);
  --color-secondary-bg-dark: var(--secondary-bg-dark);

  /* Custom Text */
  --color-primary-text-light: var(--primary-text-light);
  --color-secondary-text-light: var(--primary-text-light);
  --color-primary-text-dark: var(--primary-text-dark);
  --color-secondary-text-dark: var(--secondary-text-dark);
}

main::-webkit-scrollbar {
  display: none;
}

/* Adding Custom reusable component classes */
@layer components {
  .size-icon {
    height: 3rem;
    width: 3rem;
  }
  .dark-container {
    border-color: var(--quaternary);
    color: var(--quaternary);
    background-color: rgb(31 41 55);
    user-select: none;
  }
  .dark-input {
    border-color: var(--quaternary);
    background-color: var(--secondary);
    color: var(--quaternary);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .dark-input::placeholder {
    color: var(--quaternary);
  }
  .dark-input:focus::placeholder {
    color: rgb(156 163 175);
  }
  .tool__divider {
    height: 100%;
    width: 2px;
    background-color: rgb(107 114 128 / 0.3);
  }
  .tool__bar {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 0.5rem;
  }
  .primary__btn {
    @apply text-primary-text-light bg-linear-to-r from-blue-400 to-blue-600 text-zinc-50 transition-transform dark:bg-red-900 dark:text-zinc-50 dark:hover:bg-red-900/90;
  }
}

/* Adding Custom utilities */
@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .size-screen {
    height: 100vh;
    width: 100vw;
  }
  .size-full {
    height: 100%;
    width: 100%;
  }
  .flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
