@import "tailwindcss";

@layer base {
  :root {
    --radius: 0.5rem;
    --primary: #1b262c;
    --secondary: #0f4c75;
    --tertiary: #3282b8;
    --quaternary: #bbe1fa;
    --dark-secondary: #0f4c75;
    --btn: #1571ae;
    --line: #b8a5a5;
  }
}

@layer utilities {
  .size-screen {
    height: 100vh;
    width: 100vw;
  }
  .size-full {
    height: 100%;
    width: 100%;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .main-container {
    width: 100%;
  }
  @media (min-width: 640px) {
    .main-container {
      width: 600px;
    }
  }
  @media (min-width: 768px) {
    .main-container {
      width: 750px;
    }
  }
  @media (min-width: 1024px) {
    .main-container {
      width: 1000px;
    }
  }
  @media (min-width: 1280px) {
    .main-container {
      width: 1300px;
    }
  }
  .size-icon {
    height: 3rem;
    width: 3rem;
  }
  .dark-container {
    border-color: var(--quaternary);
    color: var(--quaternary);
    background-color: rgb(31 41 55);
    user-select: none;
  }
  .dark-input {
    border-color: var(--quaternary);
    background-color: var(--secondary);
    color: var(--quaternary);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .dark-input::placeholder {
    color: var(--quaternary);
  }
  .dark-input:focus::placeholder {
    color: rgb(156 163 175);
  }
  .tool__divider {
    height: 100%;
    width: 2px;
    background-color: rgb(107 114 128 / 0.3);
  }
}

@layer components {
  .tool__bar {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 0.5rem;
  }
}
